.Case {
    .info {
        border: 2px solid #038503;
        background-color: #01aa01;
        max-width: 700px;
        
        margin-left: auto;
        margin-right: auto;
        
        color: white;
        padding: 0.5rem 1.5rem;
    }
}